frontend/node_modules/
frontend/.expo/
frontend/.expo-shared/
frontend/.vscode/
frontend/npm-debug.*
frontend/personal.txt
Untitled-1.html
personal.txt
desktop.ini
Shortcuts.txt

# macOS
frontend/DS_Store
